:root{
  /*Fonts*/
  --titleFont: 'PT Serif', serif;
  --answerFont: 'Bitter', serif;
  --descriptionFont: 'Nunito', sans-serif;


  /*Colors*/
  --background: #E5E3E4;
  --title: #EFF8FF;
  --question: #0d0d0e;
  --answer: #B5312F;
  --description: #7888E0;
  /*Display Constants*/
  --displayBlock: block;
  --displayTitle: inline-block;
  --positionRelative: relative;
  --noDeco: none;
  --widthFull: 100%;
  --widthDesktop: 50%;
  --heightAuto: auto;
  --heightFull: 100%;
  --alignCenter: center;
}

body{
  display: var(--displayTitle);
  position: var(--positionRelative);
  width: var(--widthFull);
  height: 100%;
  background-color: var(--background);
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  padding: 0%;
/*text-align: center;*/
}

.Question{
  display: var(--displayTitle);
  position: var(--positionRelative);
  height: var(--heightAuto);
  width: 50%;
  text-align: center;
  color: var(--black);
  background-color: var(--title);
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 25px;
  padding: 1%;
  font-size: 300%;
  font-family: var(--titleFont);
  margin-top: 5%;
  margin-bottom: 5%;

}

.Subject{
  display: var(--displayTitle);
  position: var(--positionRelative);
  height: var(--heightAuto);
  text-align: center;
  color: var(--title);
  background-color: var(--answer);
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 25px;
  padding: 1%;
  font-size: 100%;
  font-family: var(--titleFont);
  margin-top: 5%;
  margin-bottom: 5%;
}

.Answer{
  text-decoration: none;
  font-family: var(--answerFont);
  font-size: 300%;
  padding: 1%;
  margin-left: 33%;
  margin-right: 33%;
  font-weight: bold;
  color: var(--answer);
  background-color: var(--title);
  border-radius: 25px;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 5%;
}

.Remember{
  font-family: var(--titleFont);
  text-decoration: none;
  font-size: 250%;
  padding: 1%;
  font-weight: bold;
  color: var(--question);
  margin-top: 20%;
  margin-bottom: 5%;
  text-align: center;
}

.Remember a{
  font-family: var(--titleFont);
  text-decoration: none;
  font-size: 50%;
  padding: 1%;
  font-weight: bold;
  color: var(--answer);
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.Remember a:hover{
  font-family: var(--titleFont);
  text-decoration: none;
  font-size: 50%;
  padding: 1%;
  font-weight: bold;
  color: var(--title);
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.Icons{
  display: var(--displayTitle);
  position: var(--positionRelative);
  width: var(--widthFull);
  text-align: center;
}

.Description{
  font-size: 250%;
  color: var(--description);
  font-family: var(--descriptionFont);
  border-bottom: 1px solid black;
  padding-top: 2.5%;
}


}
