:root{

}

body{
  width: 98%;
  padding: 0%;
  text-align: center;
  background-color: black;
}

.about{
  text-align: center;
}

#title{
  font-size: 250%;
  color: white;
  text-decoration: none;
}

#location{
  font-size: 350%;
  color: white;
}

.project{
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: grey;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.project a{
  text-decoration: underline;
  font-weight: bold;
  color: khaki;
  font-size: 200%;
}

.project p{
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 150%;
}

.social{
  text-align: center;
  margin-top: 10%;
}

.social a{
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding: 10%;
  font-size: 125%;
}

.project_filter{
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: grey;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.project_filter a{
  text-decoration: underline;
  font-weight: bold;
  color: khaki;
  font-size: 200%;
}

.project_filter img{
  width: 10%;
  height: auto;
}

.name{
  font-size: 250%;
}

#label {
  font-size: 350%;
  color: white;
}

.content{
  text-align: center;
}

.instagram {
  text-decoration: none;
  color: black;
}





}
