:root{
  /*Fonts*/
  --otherfont: 'Antic Slab', serif;
  --titleWeight: normal;
  --bodyFont:  'Merriweather', serif;
  --extrafont: 'Comfortaa', cursive;
  --titleFont: 'Bree Serif', serif;

  /*Colors*/
  --background: #1A73A1;
  --base: #EFF8FF;
  --hover: #D4AF37;
  --body: #A29F9B;
  --about: #0d0d0e;
  --projects: #e4e5e2;
  --item: #DBC47B;
  --link: #DBC47B;
  --pLink: #787C80;
  /*Display Constants*/
  --displayBlock: block;
  --displayTitle: inline-block;
  --positionRelative: relative;
  --noDeco: none;
  --widthFull: 100%;
  --widthDesktop: 50%;
  --heightAuto: auto;
  --alignCenter: center;
}


body{
  display: var(--displayBlock);
  position: var(--positionRelative);
  width: var(--widthFull);
  height: var(--heightAuto);
  background-color: var(--background);
  align-title: center;
  margin-top: 0%;
  margin-right: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
}


.about{
  display: var(--displayBlock);
  position: var(--positionRelative);
  width: var(--widthFull);
  height: var(--heightAuto);
  text-align: center;
  background-color: var(--about);
  color: white;
  margin-top: -1%;
  padding-top: 1%;
  font-size: 100%;
  font-family: var(--bodyFont);
}

.about a{
  text-decoration: none;
  color: var(--link);
  text-shadow: 1px 1px black;
  font-family: var(--titleFont);
  font-size: 100%;
  padding: 1%;
  font-weight: bold;
}

.about a:hover{
  color: var(--hover);
}

.columns{
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 10%;
}

.columns li{
  color: var(--hover);
}

#accom{
  flex:left;
  padding-right: 10%;
}

#tools{
  flex: right;
  padding-left: 10%;
}

#title{
  font-size: 250%;
  padding: .1%;
}

#bio{
    font-size: 200%;
}
#secondary{
  font-size: 150%;
}

#tertiary{
  font-size: 160%;
  color: var(--hover);
}

.projects{
  width: 100%;
  height: var(--heightAuto);
  float: left;
  display: var(--displayBlock);
  background-color: var(--projects);
  text-align: center;
}

.projects .project{
  display: var(--displayTitle);
  position: var(--positionRelative);
  width: 40%;
  height: 35%;
  background-color: var(--item);
  margin: 4%;
  text-align: center;
}

.projects .project:hover{
  background-color: var(--hover);
}

.projects .project:hover a{
  color: black;
}

.projects .project a{
  display: block;
  text-decoration: none;
  height: 64%;
  color: var(--pLink);
  font-family: var(--bodyFont);
  font-size: 50%;
  padding-top: 25%;
}

#projectTItle{
  font-size: 100%;
  color: var(--hover);
}

#projectTItle:hover{
  color: black;
}

.description{
  margin: 2.5%;
  padding: 2.5%;
  text-align: center;
  font-size: 150%;
  font-family: var(--bodyFont);
}

.ptrdesktop{
  width: 100%;

}

.ptrdesktop:hover{

}

.external{
  color: var(--hover);
  text-decoration: none;
}

.external:hover{
  color: black;
}
